body {
    max-width: 100%;
    margin: 0 auto;
    font-family: 'Indie Flower', cursive;
}
header {
    background-color: rgb(35, 35, 250);
    color: rgb(255, 255, 38);
    text-align: center;
}
.photo {
    float: left;
    padding: 30px; 
    border-radius: 20%;
    }
h1 {
    font-family: 'Shadows Into Light', cursive;
    margin-top: 0;
    margin-right: 260px;
    margin-bottom: 0;
    padding: 15px;
    font-size: 3em;
    text-decoration: underline 2px;
}
ul {
    list-style:none;
    margin: 0;
    margin-right: 260px;
}
ul li {
    font-size: 1.4em;
    padding-bottom: 0.2em
}
a {
    text-decoration: none;
    color: rgb(255, 255, 38);
}
a:hover {
    color: rgb(21, 20, 20);
}
main {
    background-color:rgb(255, 255, 38) ;
    color:rgb(35, 35, 250) ;
}
h2 {
    margin: 0;
    padding:15px;
    text-align: center;
}
.top {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
}
.main {
    color:rgb(35, 35, 250) ;
}
p {
    text-align: center;
}
pre {
    background-color: rgb(201, 201, 33);
    padding: 5px 15px;
    border-radius: 25%;
}